@import "tailwindcss";

@theme {
  --color-carnival-yellow: #FFD700;
  --color-carnival-green: #00A86B;
  --color-carnival-blue: #1E90FF;
  --color-carnival-purple: #8A2BE2;
  --color-carnival-pink: #FF69B4;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for date selector */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
